.editMainContainer {
  width: 100%;
  height: 100%;
  padding-left: 78px;
  padding-right: 280px;
  background-color: #f3f4f6;
  overflow: hidden;

  .editorLayoutEmpty {
    position: absolute;
    background-color: transparent;
    z-index: 98;
    margin-top: -190px;
    box-shadow: 0 0 0 9999em #f3f4f6;
    pointer-events: none;
  }

  .editorLayout {
    position: relative;
    width: 297px;
    margin-top: -190px;
    background-color: #888888;

    &.horizontalVersion {
      width: 695px;
    }


    .material {
      position: absolute;
    }

    .textarea {
      box-sizing: content-box;
      line-height: 100%;
      display: block;
      outline: none;
      -webkit-appearance: none;
      white-space: normal;
      word-wrap: break-word;
      word-break: break-all;
      resize: none;
      overflow: hidden;
      border-width: 0;
      border-color: #FF5172;
      border-style: dashed;
      background-color: transparent;

      &:focus {
        background-color: rgba(255, 81, 114, 0.3);
        border-style: solid;
      }


    }

    .backgroundImage {
      z-index: 1;
    }

    .prospectImage {
      z-index: 30;
    }

    .accessoryImage {
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }


  }

  .renderMaterialMask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 221;
  }

}
