.editGroupsContainer {
  padding-top: 40px;
  flex-direction: column;

  li {
    width: 175px;
    height: 175px;
    background-color: #f3f4f6;
    overflow: hidden;
    padding: 0 10px;
    margin-bottom: 15px;

    img {
      height: 100%;
    }

  }


}
