.groupContainer {
  position: relative;
  flex: 0 0 120px;
  width: 120px;
  background: rgba(0, 0, 0, 0.2);
  margin-right: 12px;
  user-select: none;
  border-radius: 10px;
  overflow: hidden;

  &:last-child {
    margin-right: 0;
  }

  &.horizontalVersion {
    flex: 0 0 288px;
    width: 288px;
  }

  &.active .groupTitle {
    background-color: #4d6fff;
  }

  &.active .borderWarp {
    border-color: #4D6FFF;
  }

  &.active .groupIndexNum {
    background-color: #4d6fff;
  }


  .material {
    position: absolute;
  }

  .backgroundImage {
    z-index: 1;
  }

  .prospectImage {
    z-index: 98;
  }

  .accessoryImage {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }


  .groupIndexNum {
    position: absolute;
    right: 0;
    top: 0;
    width: 27px;
    height: 27px;
    background-color: #888888;
    color: #ffffff;
    z-index: 99;
    overflow: hidden;
    font-size: 13px;
  }

  .groupTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
    color: #ffffff;
    background-color: #888888;
    z-index: 99;
    font-size: 13px;

  }

  .borderWarp {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #888888;
    z-index: 99;
  }

}
