.colorTitle {
  margin: 20px 0 15px;
  font-size: 14px;
  color: #333333;
  line-height: 22px;
}

.colorContent {
  position: relative;
  width: 188px;
  height: 34px;
  margin: 0 auto;

  &.border {
    border: 3px solid #d9d9d9;
  }

}

.colorSelectBox {
  position: fixed;
  left: -200px;
  top: 200px;
  z-index: 999;

  input {
    outline: none;
  }

}

.volumeSlider {
  width: 183px;
  margin: 0 auto;

  :global(.ant-slider) {
    margin: 0;

  }

  :global(.ant-slider-handle) {
    border: none;
    background-color: #666666;
    width: 16px;
    height: 16px;
    margin-top: -6.5px;


    &:focus {
      box-shadow: none;
    }
  }

  :global(.ant-slider-rail) {
    height: 4px;

  }

  :global(.ant-slider-track) {
    height: 4px;
    background-color: #666666;


  }

}
