body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cutting {
  height: 662px;
  background: #1a1a1a;
  position: relative;

  .videoBox {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    transform: translate(-50%, -50%);
    height: 350px;

    video {
      height: 100%;
    }
  }

  .timeBox {
    position: absolute;
    left: 20px;
    bottom: 130px;
    color: #ffffff;
    line-height: 26px;
    font-size: 18px;
  }

  .timeTip {
    position: absolute;
    left: 20px;
    bottom: 100px;
    color: #ffffff;
    line-height: 22px;
    font-size: 14px;
  }

  .totalTimeBox {
    position: absolute;
    right: 20px;
    bottom: 130px;
    color: #ffffff;
    line-height: 26px;
    font-size: 18px;
  }

  .totalTimeTip {
    position: absolute;
    right: 20px;
    bottom: 100px;
    color: #ffffff;
    line-height: 22px;
    font-size: 14px;
  }

}

.tick_content {
  width: 998px;
  height: 84px;
  background: #212121;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tick {
  width: 756px;
  height: 44px;
  margin: 0 auto;
  background-image: repeating-linear-gradient(90deg,
  transparent 0,
  transparent 7px,
  #b3b5c0 0,
  #b3b5c0 8px),
  repeating-linear-gradient(90deg, transparent 0, transparent 39px, #b3b5c0 0, #b3b5c0 40px);
  background-position: 0px 100%;
  background-size: 100% 10px, 100% 20px, 100% 100%, 100% 100%;
  background-repeat: no-repeat;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  font-size: 12px;
  /* letter-spacing: 33px; */
  position: relative;
  /* text-indent: 37px; */
  display: flex;
}

.a {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
}

.video_frame {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 700px;
  height: 34px;
  background: #4d4d4d;
}

.left_frame {
  position: absolute;
  left: -12px;
  width: 12px;
  height: 20px;
  background: #c4c4c4;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

}

.left_frame span,
.right_frame span {
  display: block;
  width: 6px;
  height: 0.5px;
  background: #ffffff;
}

.right_frame {
  position: absolute;
  right: -12px;
  width: 12px;
  height: 20px;
  background: #c4c4c4;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.content_frame {
  position: absolute;
  left: 0;
  width: 700px;
  height: 34px;
  background: #4d4d4d;
  overflow: hidden;
}

.cutting_frame {
  position: absolute;
  display: flex;
  height: 34px;
  background-color: #4e6fff;
  align-items: center;
}


.translateIcon {
  width: 10px;
  height: 34px;
  user-select: none;
  background-image: url("assets/img/Lark20210402-202942.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cutting_region {
  width: 100%;
  height: 30px;
  background-color: #4d4d4d;
}

.tick > div {
  font-size: 12px;
  width: 32px;
  margin-right: 8px;
  transform: translateX(-50%) scale(0.8);
}
