.editWindowContainer {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 296;
  height: 100vh;
  width: 280px;
  background: #ffffff;
  transition: transform .3s ease-in-out;

  &.withLeft {
    transform: translateX(214px);
  }

  &.withRight {
    transform: translateX(0);
  }


  .editWindowLeft {
    flex: 0 0 66px;
    height: 100%;
    padding-top: 88px;
    box-shadow: -6px 0 9px -5px rgba(0, 0, 0, 0.08), 6px 0px 9px -5px rgba(0, 0, 0, 0.08);

    .editWindowIconList {
      flex-direction: column;
      color: #666666;

      li {
        user-select: none;
        font-size: 26px;
        width: 100%;
        padding: 0 20px;
      }

    }

  }

  .editWindowRight {
    flex: 1;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding-top: 58px;

    .editWindowTitle {
      position: relative;
      height: 42px;
      background: #f3f4f6;
      width: 100%;
      font-size: 14px;
      color: #666666;

      .backIcon {
        position: absolute;
        left: 10px;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
      }

    }

    .editWindowActionContainer {
      flex: 1;
      width: 100%;
    }

  }


}
