.modal {
  display: flex;

  .tailoringLeft {
    width: 620px;
    background-color: #f3f4f6;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 361px;
  }

  .tailoringright {
    position: relative;
    width: 220px;
    display: flex;
    align-items: center;
    flex-direction: column;

    h4 {
      font-size: 18px;
      color: #333333;
      margin-top: 78px;
    }

    .buttonBox {
      position: absolute;
      bottom: 30px;
      flex-direction: column;

      button:nth-child(1) {
        width: 112px;
        height: 42px;
        opacity: 1;
        background: #ffffff;
        border-radius: 3px;
        border: 1px solid #eee;
        font-size: 14px;
        color: #333333;
        cursor: pointer;
      }

      button:nth-child(2) {
        width: 112px;
        height: 42px;
        opacity: 1;
        background: #4d6fff;
        border-radius: 3px;
        font-size: 14px;
        color: #fff;
        margin-top: 24px;
        cursor: pointer;
      }
    }

  }

  .action {
    width: 276px;
    height: 56px;
    opacity: 1;
    background: #ffffff;
    border-radius: 2px;
    margin: 20px auto 0;

    ul {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 10px;

      li {
        list-style: none;
        width: 24px;
        height: 24px;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          vertical-align: middle;
        }
      }
    }
  }

}


