.modal {
  display: flex;

  .tailoringLeft {
    position: relative;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #ffffff;
    user-select: none;

    .cropBorderBox {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 200px;
      height: 200px;
      transform: translate(-50%, -50%);
      border: 2px dashed #666666;
      box-shadow: 0 0 0 9999em rgba(0, 0, 0, .6);
      z-index: 999;
      pointer-events: none;
    }

    .imageBox {
      position: absolute;
      left: 0;
      top: 0;
    }

  }

  .tailoringright {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;

    h4 {
      font-size: 18px;
      color: #333333;
      margin-top: 78px;
    }

    .buttonBox {
      position: absolute;
      bottom: 30px;
      flex-direction: column;

      button:nth-child(1) {
        width: 112px;
        height: 42px;
        opacity: 1;
        background: #ffffff;
        border-radius: 3px;
        border: 1px solid #eee;
        font-size: 14px;
        color: #333333;
        cursor: pointer;
      }

      button:nth-child(2) {
        width: 112px;
        height: 42px;
        opacity: 1;
        background: #4d6fff;
        border-radius: 3px;
        font-size: 14px;
        color: #fff;
        margin-top: 24px;
        cursor: pointer;
      }
    }

  }

  .action {
    width: 276px;
    height: 56px;
    opacity: 1;
    background: #ffffff;
    border-radius: 2px;
    margin: 20px auto 0;

    ul {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 10px;

      li {
        list-style: none;
        width: 24px;
        height: 24px;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          vertical-align: middle;
        }
      }
    }
  }

}


