.editorContainer {
  position: relative;
  padding-top: 58px;
  width: 100vw;
  height: 100vh;

  .loadingEditorContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .8);
  }

}
