.content {
  @keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  width: 1109px;
  height: 624px;
  opacity: 1;
  border: 2px solid #4d6fff;
  margin: 82px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  p {
    font-size: 18px;
    color: #888888;
    margin-top: 33px;
  }

  .loadingBox {
    position: relative;
    width: 172px;
    height: 100px;

    .loaderContainer {
      .eight {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        animation: rotate360 1.5s linear infinite;

        &:before {
          content: " ";
          display: block;
          width: 20px;
          height: 20px;
          position: absolute;
          background-color: transparent;
          top: 40px;
          left: 40px;
          border-radius: 50%;
          box-shadow: 0px -50px 0px 0px rgb(126, 150, 255),
            -36px -36px 0px -1px rgba(126, 150, 255, 0.88),
          -50px 0px 0px -2px rgba(126, 150, 255, 0.75),
          -36px 36px 0px -3px rgba(126, 150, 255, 0.63),
          0px 50px 0px -4px rgba(126, 150, 255, 0.5),
          36px 36px 0px -5px rgba(126, 150, 255, 0.38),
          50px 0px 0px -6px rgba(126, 150, 255, 0.25),
            36px -36px 0px -7px rgba(126, 150, 255, 0.13);

        }
      }

    }
  }

}

.videoPlay {
  width: 1109px;
  margin: 82px auto 0;
}
