.editFontContainer {

  .tabList {
    width: 100%;
    height: 48px;

    li {
      flex: 1;
      height: 100%;
      color: #333333;
      line-height: 22px;
      font-size: 14px;
      user-select: none;


      &.active {
        box-shadow: 0px -2px 0px 0px #4d6fff inset;
      }
    }
  }

  .tabContainer {
    display: block;
    width: 100%;
  }


}
