.fontSizeContainer {
  margin-top: 30px;
  height: 34px;

  .fontSizeInput {
    height: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 3px 10px;
    font-size: 14px;
    color: #333333;

    input {
      width: 50px;
      border: none;
      outline: none;
      padding: 0;
    }

    span {
      margin-left: 10px;
    }
  }

  .fontSizeBtn {
    height: 100%;
    margin-left: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    overflow: hidden;

    button {
      height: 100%;
      width: 38px;
      background-color: #ffffff;
      padding: 0;
      font-size: 14px;
      color: #333333;

      &:first-child {
        border-right: 1px solid #d9d9d9;
      }

      &:active {
        background-color: #f3f4f6;
      }

    }

  }


}
