.materialLibraryContainer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 300;
  width: 78px;
  height: 100vh;
  padding-top: 58px;
  background-color: #ffffff;

  .materialZIndexChildContainer {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 301;
  }


  // 标签列表
  .tagList {
    width: 100%;
    color: #333333;
    flex-direction: column;
    background-color: #ffffff;


    .tagOption {
      width: 100%;
      user-select: none;
      padding: 16px 0;
      flex-direction: column;

      &.tagOptionActive {
        background-color: #4D6FFF;
        color: #ffffff;
      }

      .materialIcon {
        font-size: 20px;
      }


      .materialTitle {
        font-size: 14px;
        line-height: 22px;
      }

    }

  }


}
