// 帮助
.helpContainer {
  position: absolute;
  bottom: 66px;
  left: 50%;
  z-index: 999;
  transform: translateX(-50%);


  .helpIcon {
    user-select: none;
    font-size: 28px;
  }

  .shortcutKey {
    position: absolute;
    top: -287px;
    width: 180px;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 0.05);


    .shortcutKeyTitle {
      width: 100%;
      padding: 16px 24px;
      color: #333333;
      line-height: 22px;
      font-weight: 700;
      font-size: 14px;
      justify-content: space-between;
      border-bottom: 1px solid #f0f0f0;

      .shortcutKeyTitleClose {
        font-weight: 500;
        font-size: 16px;
      }

    }

    .shortcutKeyList {
      width: 100%;
      padding-bottom: 20px;

      .shortcutKeyOptions {
        width: 100%;
        padding: 14px 24px;
        justify-content: space-between;
        line-height: 22px;
        color: #333333;
        font-size: 14px;
      }

    }

  }

}
