.editGraphicContainer {
  width: 100%;

  .editGraphicGroupLine {
    border-bottom: 1px solid #efefef;
  }

  .imageBox {
    width: 140px;
    height: 140px;
    background-color: #f3f4f6;
    margin: 36px auto 52px;
    padding: 0 10px;
    overflow: hidden;

    img {
      height: 100%;
    }
  }

  .button {
    width: 150px;
    height: 42px;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #c7c7c7;
    color: #333333;
    font-size: 14px;
  }

  .uploadIcon {
    font-size: 16px;
    margin-right: 11px;
  }


  .groupTitle {
    color: #333333;
    line-height: 22px;
    font-size: 14px;
    padding-left: 20px;
  }

  .volume {
    .volumeIcon {
      font-size: 24px;
    }
  }

  .volumeSlider {
    width: 83px;
    margin-left: 8px;

    :global(.ant-slider) {
      margin: 0;
    }

    :global(.ant-slider-handle) {
      border: none;
      background-color: #666666;
      width: 8px;
      height: 8px;
      margin-top: -3px;


      &:focus {
        box-shadow: none;
      }
    }

    :global(.ant-slider-rail) {
      height: 2px;
    }

    :global(.ant-slider-track) {
      height: 2px;
      background-color: #666666;
    }

  }

}
