.container {
  width: 1200px;
  margin: 106px auto 64px;

  .title {
    font-size: 24px;
    color: #333333;
    font-weight: 500;
    margin-bottom: 29px;
  }

  // 分类
  .filterBox {
    position: relative;
    justify-content: flex-start;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 0 48px;

    .filterTitle {
      position: absolute;
      left: 0;
      top: 25px;
      font-size: 16px;
      font-weight: 700;
      color: #333333;
      line-height: 24px;
    }

    .actionText {
      position: absolute;
      right: 14px;
      top: 27px;
      font-size: 14px;
      color: #888888;
      cursor: pointer;
      user-select: none;
    }


    .classListBox {
      flex: 1;

      li {
        margin-left: 24px;
        cursor: pointer;

        &.active {
          font-weight: 700;
          color: #4d6fff;
        }

        &:first-child {
          margin-left: 12px;
        }

      }

      .filterTagList {
        justify-content: flex-start;
        flex-wrap: wrap;
        font-size: 14px;
        color: #333333;
        padding: 27px 0;

        &.removePadding {
          padding: 0 0 27px;
        }

      }

    }

  }

  //模板列表
  .templateListContainer {
    margin-top: 36px;
    margin-bottom: 20px;

    .templateList {
      justify-content: flex-start;
      flex-wrap: wrap;

      li {
        position: relative;
        width: 180px;
        opacity: 1;
        border-radius: 8px;
        margin-right: 20px;
        margin-bottom: 20px;
        box-shadow: 0 2px 14px 0 rgba(77, 111, 255, 0.16);
        overflow: hidden;
        cursor: pointer;

        &:nth-child(6n+6) {
          margin-right: 0;
        }

        &:nth-child(6n+1) {
          margin-left: 10px;
        }

        .immediatelyMake {
          width: 120px;
          height: 32px;
          position: absolute;
          bottom: 59px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 6;
          cursor: pointer;
          font-size: 16px;
          color: #ffffff;
          border-radius: 15px;
          background-color: #4D6FFF;
          box-shadow: 0 3px 9px 0 rgba(77, 111, 255, .5);
        }

        .imageContent {
          position: relative;
          height: 316px;
          width: 100%;
          overflow: hidden;

          video, img {
            height: 100%;
            position: absolute;
          }

          video {
            z-index: 1;
          }

          img {
            z-index: 2;
          }

        }

        .textInfo {
          justify-content: space-around;
          width: 100%;
          padding: 0 10px;
          height: 47px;
          background: #ffffff;

          .templateTitle {
            flex: 1;
            color: #333333;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-right: 5px;
          }

          .tag {
            color: #ffffff;
            background: #ff5172;
            border-radius: 4px;
            line-height: 20px;
            font-size: 12px;
            padding: 1px 8px;
            box-shadow: 0 2px 14px 0 rgba(77, 111, 255, 0.16);
          }

        }


      }

    }

  }

  .pagination {
    margin-bottom: 63px;

    //:global(.ant-pagination-item-active) {
    //  background-color: #4d6fff;
    //  border-color: #4d6fff;
    //
    //  a {
    //    color: #ffffff;
    //
    //  }
    //
    //}

  }

}
