.materialLibraryModelContainer {
  :global(.ant-modal-body) {
    padding: 0;
  }

  .materialLibraryModel {
    height: 540px;
    justify-content: flex-start;
    background-color: #ffffff;

    .tagList {
      position: relative;
      flex: 0 0 160px;
      width: 160px;
      height: 100%;
      box-shadow: -6px 0 9px -5px rgba(0, 0, 0, 0.08),
      6px 0px 9px -5px rgba(0, 0, 0, 0.08);

      .title {
        color: #333333;
        font-size: 18px;
        line-height: 26px;
        padding: 36px 36px 38px;
      }

      .tagListUl {
        user-select: none;
        font-size: 14px;
        color: #595959;

        li {
          height: 50px;
          line-height: 18px;
          border-radius: 2px;

          &.active {
            background-color: #4d6fff;
            color: #ffffff;
          }
        }
      }

      .localUploadContainer {
        position: absolute;
        bottom: 65px;
        left: 0;
        width: 100%;
        height: 42px;
        user-select: none;

        .localUpload {
          height: 100%;
          width: 104px;
          border: 1px solid #c7c7c7;
          border-radius: 3px;
          font-size: 14px;
          color: #333333;
          line-height: 22px;

          .uploadIcon {
            margin-right: 8px;
          }

        }

        .localUploadHelp {
          position: relative;
          font-size: 20px;
          margin-left: 8px;

          &:hover .helpInfo {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
          }

          .helpInfo {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -37px;
            margin-left: 20px;
            width: 456px;
            background-color: #4d6fff;
            border-radius: 2px;
            box-shadow: -5px 9px 28px 0 rgba(0, 0, 0, 0.05);
            font-size: 14px;
            color: #ffffff;
            line-height: 22px;
            padding: 14px 15px 14px 24px;
            opacity: 0;
            transform: translateX(50%);
            transition: all .2s ease-in-out;
            z-index: 999;
            visibility: hidden;


            &:after {
              position: absolute;
              left: -5px;
              top: 28px;
              content: "";
              display: block;
              width: 14px;
              height: 14px;
              opacity: 1;
              background: #4d6fff;
              transform: rotate(45deg);
              border-radius: 2px;
            }

          }

        }

      }

    }

    .contentContainer {
      flex: 1;
      height: 100%;

      .title {
        height: 54px;
        font-size: 14px;
        color: #333333;
        line-height: 22px;
        justify-content: flex-start;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
        padding-left: 23px;
      }

      .scrollBox {
        height: 486px;

        .contentUl {
          width: 100%;
          justify-content: flex-start;
          flex-wrap: wrap;
          padding: 23px;

          li {
            width: 170px;
            height: 240px;
            border-radius: 9px;
            margin-right: 20px;
            margin-bottom: 20px;
            transition: all .3s ease-in-out;
            background-color: #f3f4f6;
            border: 1px solid #efefef;
            flex-direction: column;
            overflow: hidden;

            .topContent {
              flex: 1;
              position: relative;
              width: 100%;
              overflow: hidden;

              .playIcon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 30px;
                height: 30px;
                //background-color: #0077aa;
                border-radius: 50%;
                overflow: hidden;
              }

              video, img {
                height: 100%;
              }

            }


            .bottomContent {
              position: relative;
              height: 47px;
              width: 100%;
              background-color: #ffffff;
              overflow: hidden;

              .moveContent {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 94px;
                transform: translateY(0);
                transition: all .3s ease-in-out;


                .materialInfo {
                  height: 47px;

                  .fileName {
                    margin-top: 2px;
                    color: #000000;
                    font-size: 12px;
                    line-height: 20px;
                    padding-left: 6px;
                    padding-right: 34px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                  }

                  .sizeBox {
                    justify-content: space-between;
                    font-size: 12px;
                    color: #c7c7c7;
                    line-height: 20px;
                    padding: 0 6px;
                  }

                }

                .materialAction {
                  height: 47px;
                  font-size: 14px;

                  .useButton {
                    width: 88px;
                    height: 30px;
                    background-color: rgba(77, 111, 255, 0.9);
                    border-radius: 3px;
                    color: #ffffff;

                    &:active {
                      background-color: rgba(77, 111, 255, 1);
                    }

                  }

                  .actionListBox {
                    width: 60px;
                    height: 30px;
                    border: 1px solid #efefef;
                    border-radius: 3px;
                    margin-left: 9px;
                    color: #333333;
                  }

                }

              }

            }


            &:hover {
              box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.10);
            }

            &:hover .moveContent {
              transform: translateY(-47px);
            }

            &:nth-child(4n+4) {
              margin-right: 0;
            }


          }
        }
      }


    }


  }

}




