.editGroupsContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 295;
  width: 100%;
  min-height: 180px;
  padding-right: 287px;
  background: #ffffff;
  box-shadow: 0px -6px 9px -5px rgba(0, 0, 0, 0.08);
  transition: padding-left .3s ease-in-out;

  &.withLeft {
    padding-left: 92px;
  }

  &.withRight {
    padding-left: 394px;
  }

  .playBtnBox {
    flex-direction: column;
    height: 100%;
    margin-right: 14px;
    user-select: none;

    .playIcon {
      width: 40px;
      height: 40px;

      img {
        width: 100%;
      }

      margin-bottom: 20px;
    }

    .totalTime {
      color: #333333;
      line-height: 22px;
      font-size: 14px;
    }

  }

  .editGroupsList {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
  }

}
