.layerList {
  width: 180px;
  margin: 0 auto;
  font-size: 14px;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
  .layerTitle {
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 24px;
    border-bottom: 1px solid #eee;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 14px;
  }
  :global {
    .ant-collapse {
      border: none;
      color: #333333;
      background-color: #fff;
    }
    .ant-collapse > .ant-collapse-item {
      border-bottom: none;
    }
    .ant-collapse-content {
      border-top: none;
    }
    .ant-collapse-item:hover {
      background: #eaecf0;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
      padding: 7px 16px;
      padding-left: 40px;
    }
    .ant-collapse-content > .ant-collapse-content-box {
      padding: 0;
    }
    .ant-collapse-content > .ant-collapse-content-box > div {
      height: 36px;
      display: flex;
      align-items: center;
      margin-left: 45px;
      cursor: pointer;
    }
    .ant-collapse-content-box > div:hover {
      background: #f3f4f6;
    }
  }
  .img {
    width: 21px;
    height: 21px;
    display: inline-block;
    margin-right: 5px;
  }
}
