.materialListContainer {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 68px 0 20px;
  height: 100%;
  width: 300px;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  box-shadow: 6px 0 9px -5px rgba(0, 0, 0, 0.08);
  transition: transform .3s ease-in-out;


  &.packUp {
    transform: translateX(0);
  }

  &.packOpen {
    transform: translateX(-100%);
  }

  .actionIconContainer {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
    width: 22px;
    height: 73px;
    border-radius: 0 26px 26px 0;
    background: #4d6fff;

    .actionIcon {
      color: #ffffff;
      font-size: 16px;
    }
  }


  .materialList {
    flex-direction: column;

    li {
      width: 256px;
      height: 144px;
      background: #f3f4f6;
      box-shadow: 6px 0 9px -5px rgba(0, 0, 0, 0.08);
      margin-bottom: 10px;
      overflow: hidden;
      cursor: pointer;

      img, video {
        height: 100%;
      }

      .videoBox {
        position: relative;
        flex: 1;
        width: 100%;
        height: 100%;


        video {
          position: relative;
          z-index: 1;
        }

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 76%, rgba(0, 0, 0, 0.50));
          box-shadow: 6px 0 9px -5px rgba(0, 0, 0, 0.08);
          z-index: 2;
        }

        .videoTime {
          position: absolute;
          right: 8px;
          bottom: 4px;
          z-index: 2;
          font-size: 14px;
          color: #ffffff;
          line-height: 22px;
        }

      }


      &:last-child {
        margin-bottom: 0;
      }

    }
  }

}
