html, body, #root {
  font-family: "Microsoft YaHei", serif;
  height: auto;
}

body {
  min-width: 1200px;
}

h1, h2, h3, h4, h5, h6,
p, ul, body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  border: none;
  vertical-align: top;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}


.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.borderBox {
  box-sizing: border-box;
}

.cursorPointer {
  cursor: pointer;
}

.visibilityHidden {
  visibility: hidden;
}

.visibilityShow {
  visibility: visible;
}

.dnHidden {
  display: none;
}

.dnShow {
  display: block;
}

.dnFlexShow {
  display: flex;
}

.moveableCustom {
  z-index: 210 !important;
}

.moveableCustom .moveable-control {
  width: 12px !important;
  height: 12px !important;
  margin-top: -6px !important;
  margin-left: -6px !important;
  border-radius: 0 !important;
  background: #ffffff !important;
  border: 1px solid #4d6fff !important;
}

.moveableCustom .moveable-line {
  background: #4D6FFF !important;
}

.moveableCustom .moveable-rotation {
  height: 20px !important;
  background: #4D6FFF !important;
}

.moveableCustom .moveable-rotation-control {
  width: 24px !important;
  height: 24px !important;
  background-image: url("assets/img/rotateBtn.svg") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  transform: translate(-6px, -17px) scale(1) !important;
  background-color: transparent !important;
  border: none !important;
  cursor: url("assets/img/rotateBtn.svg") 11 9, pointer !important;
}

@font-face {
  font-family: "iconfont";
  src: url("assets/iconFont/iconfont.eot");
  src: url("assets/iconFont/iconfont.eot?#iefix") format("embedded-opentype"),
  url("assets/iconFont/iconfont.woff2") format("woff2"),
  url("assets/iconFont/iconfont.woff") format("woff"),
  url("assets/iconFont/iconfont.ttf") format("truetype"),
  url("assets/iconFont/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.test {
  /*:global(.ant-btn) {*/
  /*  background-color: red;*/
  /*}*/
}

/* 编辑器 */
.w-e-text-container {
  border: 1px solid #d9d9d9 !important;
  border-top: none !important;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.w-e-toolbar {
  border: 1px solid #d9d9d9 !important;
  border-bottom: 1px solid #EEE !important;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.w-e-panel-container {
  display: none !important;
}



