.basicLayout {

  .fixedHeader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    box-sizing: border-box;
    padding: 0 30px;
    width: 100%;
    height: 58px;
    background: #ffffff;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.08);
    justify-content: flex-start;

    .logoBox {
      height: 100%;

      .logo {
        width: 48px;
        height: 48px;
      }

      .title {
        margin-left: 20px;
        font-size: 18px;
        height: 26px;
        color: #333333;
        font-weight: 500;
      }

    }

  }

}


